body {
    background: linear-gradient(#00a884 0%, #00a884 130px, #d9dbd5 130px, #d9dbd5 100%);
}


/* .container {
    width: 1396px;
    max-width: 100%;
    height: calc(100vh - 40px);
    background-color: #fff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.6),;
} */

header span ul li {
    list-style: none
}

header span.header_1 ul {
    display: flex;
    align-items: center;
    /* flex-direction: row; */
}

header span img {
    height: 28px;
    width: 28px;
}

header span ul li img {
    height: 28px;
    width: 28px;
    display: flex;
}

header span.header1 img {
    border-radius: 50%;
}